footer {
  text-align: center;
  padding: 3rem 0;
  margin-top: 7rem;
  background-color: var(--color-primary);
  font-size: 0.9rem;
}
footer a {
  color: var(--color-bg);
}
.footer__logo {
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: 500;
}
.permaLinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto 3rem;
}
.footer__social {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 4rem;
}
.footer__social a {
  background: var(--color-bg);
  color: var(--color-white);
  padding: 0.8rem;
  border-radius: 0.7rem;
  display: flex;
  border: 1px solid transparent;
}
.footer__social a:hover {
  background-color: transparent;
  color: var(--color-bg);
  border-color: var(--color-bg);
  cursor: default;
}
.footer__copyright{
  margin-bottom: 4rem;
}
.footer__copyright small{
    color: var(--color-bg);
}

  /* =========== MEDIA QUERIES (SMALL DEVICES) =========== */
  @media screen and (max-width: 600px) {
    .permaLinks {
   flex-direction: column;
        gap: 1.5rem;
      }
      .footer__social {
        margin: 2.6rem;
      }
  }